## Lista 01 - Python

Nessa lista você deverá desenvolver o código para resolver as questões abaixo. Divida bem suas questões e utilize células markdown para indicar qual questão está respondendo. Documento bem seu código utilizando docstrings, comentários e células markdown.

1 - Execute todas as operações aritiméticas básicas (adição, subtração, divisão e multiplicação) com as variáveis 'a' e 'b' abaixo.
a = 15
b = 12

In [1]:
a = 15
b = 12
print('Soma: ', a+b )
print('Subtração: ', a-b )
print('Divisão: ', a/b )
print('Multiplicação: ', a*b )

Soma:  27
Subtração:  3
Divisão:  1.25
Multiplicação:  180

2 - Tente calcular o seu IMC utilizando somente operações matemáticas. Dica: o IMC é calculado da seguinte forma: IMC = peso / (altura em metros * altura em metros)

In [3]:
def imc(peso, altura):
    return(peso/(altura*altura))
#-
peso = float(input('Digite o peso em kilos \n'))
altura = float(input('Digite a altura em metros \n'))
imc = imc(peso, altura)
print('IMC = %f' %imc)

Digite o peso em kilos
107
Digite a altura em metros
1.87
IMC = 30.598530

3 - Sua professora de português pediu para você escrever a frase 'português é maravilhoso' 50 vezes. Como resolver esse problema com python? Demonstre sua solução.

In [50]:
str = 'Português é maravilhoso \n'
print(str*50)

Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso
Português é maravilhoso

4 - Um modelo de regressão linear possui a seguinte fórmula: y=0.253*x + 125. Qual será o valor de Y quando X for 125?

In [51]:
x = 125
y = (0.253*x+125)
y

156.625

5 - Qual é raiz cubica de 144? Utilize somente operações python apresentadas neste notebook.

In [52]:
rc = 144 ** (1/3)
rc

5.241482788417793

6 - Nossa matéria terá dois trabalhos! Os pesos são, respectivamente, 4 e 6. Imagine que você tenha tirado 8.2 no primeiro projeto e 3.3 no segundo projeto. Levando em consideração sua nota final e os pesos, você tirou uma média maior que 5?

In [53]:
n1 = 8.2
n2 = 3.3
nota = ((n1*0.4) + (n2*0.6))
if nota > 5:
    print('Média maior que 5 - %f' %nota)
else:
    print('Média menor que 5 - %f' %nota)

Média maior que 5 - 5.260000

7 - Crie uma lista 'a_list' com os seguintes valores: 1, hello, [1,2,3] e True.

In [75]:
a_list = [1, 'hello', [1,2,3], True]
a_list

[1, 'hello', [1, 2, 3], True]

8 - Ache o valor em 'a_list' que esteja no índice -1.

In [76]:
a_list[-1]

True

9 - Encontre os valores em 'a_list' que estejam nos indices 1,2 e 3.

In [77]:
a_list[1:4]

['hello', [1, 2, 3], True]

10 - Junte as seguinte listas a=[1,2,3,4,5] e b=[11,12,13,14,15]

In [78]:
a=[1,2,3,4,5]  
b=[11,12,13,14,15]
c = a+b
c

[1, 2, 3, 4, 5, 11, 12, 13, 14, 15]

11 - Crie uma lista de listas 'list_list' que tenha os valores de 'a_list', 'a' e 'b'

In [79]:
list_list = []
list_list.append(a_list)
list_list.append(a)
list_list.append(b)
list_list

[[1, 'hello', [1, 2, 3], True], [1, 2, 3, 4, 5], [11, 12, 13, 14, 15]]

12 - Qual o tamanho de 'list_list'?

In [80]:
len(list_list)

3

13 - Adicione o valor 125 ao final de 'list_list'.

In [81]:
list_list.append(125)
list_list

[[1, 'hello', [1, 2, 3], True], [1, 2, 3, 4, 5], [11, 12, 13, 14, 15], 125]

14 - Remova a lista [1,2,3] de 'list_list' e guarde esse valor numa variável 'list_a'.

In [82]:
list_a = list_list[0][2]
del(list_list[0][2])
print(list_a)
print(list_list)

[1, 2, 3]
[[1, 'hello', True], [1, 2, 3, 4, 5], [11, 12, 13, 14, 15], 125]

15 - Qual é o primeiro valor do segundo valor de [[1,3,5,7],[2,4,6,8,10]]?

In [83]:
a = [[1,3,5,7],[2,4,6,8,10]]
a[1][0]

2

16 - Crie a tupla 'gnr' com os seguintes valores: rock, metal, sertanejo, pop, lo-fi e chillwave, nessa ordem.

In [85]:
gnr = ('rock', 'metal', 'sertanejo', 'pop', 'lo-fi', 'chillwave')
gnr

('rock', 'metal', 'sertanejo', 'pop', 'lo-fi', 'chillwave')

17 - Qual o terceiro valor da tupla 'gnr'?

In [87]:
gnr[2]

'sertanejo'

18 - Qual o índice de lo-fi?

In [90]:
gnr.index('lo-fi')

4

19 - Crie uma tupla de tuplas com as seguintes tuplas (15,30), (20,40) e (25,50). Como acessar o valor 40?

In [1]:
tpl = ((15,30), (20,40), (25,50))
tpl[1][1]

40

20 - Acesse a tupla 'gnr' a cada dois valores, qual gêneros musicais aparecem?

In [95]:
for i, genero in enumerate(gnr):
    if i%2 == 0:
        print(genero)

rock
sertanejo
lo-fi

21 - Crie o dicionário 'mcu' com os seguintes dados, 'Homem de Ferro':2008, 'Homem de Ferro 2':2010, 'Homem de ferro 3':2013, 'Avengers: Endgame':2019.

    a - No dicionário 'mcu' quais são os valores?

    b - No dicińario 'mcu' quais são as chaves?

    c - Adicione ao dicionário 'mcu' os seguintes filmes: 'Avengers Infinity War':2018, 'Avengers Age of Ultron':2015.

    e - Limpe o dicionário 'mcu'

In [107]:
mcu = {'Homem de Ferro':2008, 'Homem de Ferro 2':2010, 'Homem de ferro 3':2013, 'Avengers: Endgame':2019}

In [108]:
#a - No dicionário 'mcu' quais são os valores?
mcu.values()

dict_values([2008, 2010, 2013, 2019])

In [109]:
#b - No dicińario 'mcu' quais são as chaves?
mcu.keys()

dict_keys(['Homem de Ferro', 'Homem de Ferro 2', 'Homem de ferro 3', 'Avengers: Endgame'])

In [110]:
#c - Adicione ao dicionário 'mcu' os seguintes filmes: 'Avengers Infinity War':2018, 'Avengers Age of Ultron':2015.
mcu['Avengers Infinity War'] = 2018
mcu['Avengers Age of Ultron'] = 2015
mcu

{'Homem de Ferro': 2008,
 'Homem de Ferro 2': 2010,
 'Homem de ferro 3': 2013,
 'Avengers: Endgame': 2019,
 'Avengers Infinity War': 2018,
 'Avengers Age of Ultron': 2015}

In [111]:
#d - Delete o filme 'Homem de Ferro 3' do dicionário 'mcu'
del mcu['Homem de ferro 3']
mcu

{'Homem de Ferro': 2008,
 'Homem de Ferro 2': 2010,
 'Avengers: Endgame': 2019,
 'Avengers Infinity War': 2018,
 'Avengers Age of Ultron': 2015}

In [115]:
#e - Limpe o dicionário 'mcu'
mcu.clear()
mcu

{}

22 - Popule o dicionário vazio 'mcu' com as informações abaixo:
'homem de ferro':{'filmes':3,'ator principal':'Robert Downey Jr.'},'Cpt.América':{'filmes':3,'ator principal':'Chris Evans'}

In [118]:
mcu = {'homem de ferro':{'filmes':3,'ator principal':'Robert Downey Jr.'},
       'Cpt.América'   :{'filmes':3,'ator principal':'Chris Evans'}}
mcu

{'homem de ferro': {'filmes': 3, 'ator principal': 'Robert Downey Jr.'},
 'Cpt.América': {'filmes': 3, 'ator principal': 'Chris Evans'}}

23 - Acesse somente a quantidade de filmes de cada uma das chaves do dicionário MCU.

In [123]:
for heroi in mcu:
    print(mcu[heroi]['filmes'])

3
3

24 - Quais são as chaves do dicionário de dicionários 'mcu'?

In [124]:
mcu.keys()

dict_keys(['homem de ferro', 'Cpt.América'])

25 - Qual o tamanho do dicionário de dicionários 'mcu'?

In [125]:
len(mcu)

2

26 - Escreva uma função python que receba uma lista e separe os múltiplos de 5. Ao final ela retorna a soma de todos os valores da lista de entrada que são múltiplos de 5.

In [1]:
def mult_5(lista):
    acum =0
    for num in lista:
        if num %5 ==0:
            acum += num
    return acum
#
lista_teste = [1,2,3,4,5,6,7,8,9,10,15,16,17,20,24]
print(mult_5(lista_teste))

50

27 - Escreva uma função para verificar se uma palavra é um palíndromo e retorne 1 em casos positivos e zero em casos negativos.

In [19]:
def palindromo(string): 
    invert = string[::-1]
    if invert == string:
        return 1
    else:
        return 0
#
palindromo('reviver')

1

28 - Escreva uma função que receba uma lista crie um dicionário com a contagem dos valores dessa lista.

In [3]:
def dic(lista):
    dict = {}
    dict[len(lista)]=lista
    return dict
#
dic([1,2,3,4,5,6,['a','b','c']])

{7: [1, 2, 3, 4, 5, 6, ['a', 'b', 'c']]}

29 - Escreva uma função que receba uma lista de listas, itere sobre cada lista, some seus valores, gere uma segunda lista e descubra o desvio padrão dela.
entrada : [[12,12,5,6,3,6,8,5,5,5],[3,3,3,3,4,4,15,89,20,20],[15,15,15,20,30,35,35,35,15,15],[10,10,10,10,15,15,15,15],[5,5,2,2],[8,8,89,89,898,1000]]

In [25]:
import numpy as np
listas = [[12,12,5,6,3,6,8,5,5,5],
 [3,3,3,3,4,4,15,89,20,20],
 [15,15,15,20,30,35,35,35,15,15],
 [10,10,10,10,15,15,15,15],
 [5,5,2,2],
 [8,8,89,89,898,1000]]
std = np.std([np.sum(lista) for lista in listas])
std

739.9846282187218

30 - Escreva uma função que gere uma sequencia de Fibonnaci. O único parâmetro é a quantidade de números que devem gerados. (Fibonnaci é uma sequencia onde o próximo número é a soma dos dois imediatamente anteriores a ele).

In [208]:
def fibo(qtd):
    seq = []
    if qtd<=0: 
        print("Valor inválido") 
    elif qtd==1: 
        seq.append(0)
        return seq
    else:
        for i in range(1,(qtd+1)):
            if i == 1:
                seq.append(0)
            elif i == 2:
                seq.append(1)
            else:
                seq.append((seq[(i-2)] + seq[(i-3)]))
    return seq
#           
fibo(9)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

31 - Monte uma função que vai calcular e comparar os custos de uma viagem para 3 cidades diferentes e que, ao final, irá recomendar qual é o destino mais barato. Essa função deve receber somente uma parâmetro 'noites'. A partir desse argumento a função deve calcular o custo total de viagem para cada uma das cidades. Utilize os dados abaixo.

|   Cidade  | Hotel/noite | Alimentação/noite | Locomoção/noite |
|:---------:|:-----------:|:-----------------:|:---------------:|
| Abu Dhabi |     1300    |        200        |       150       |
|  Genebra  |     1200    |        150        |        80       |
|    Oslo   |     1000    |        250        |       100       |

In [39]:
def calc_itn(noites):
    df['total'] = (df['hotel'] * noites + df['alimentação'] * noites + df['locomoção'] * noites)
    aux = df.sort_values(['total'])
    aux = aux.iloc[0]
    return 'Destino mais barato: %s, Quantidade de noites:%i, Valor:R$%i,00' %(aux['cidade'], noites, aux['total']) 

import pandas as pd
df = pd.DataFrame([['Abu Dhabi',1300,200,150],
                   ['Genebra',1200,150,80],
                   ['Oslo',1000,250,100]], columns =['cidade','hotel','alimentação','locomoção'])

print(calc_itn(5))

Destino mais barato: Oslo, Quantidade de noites:5, Valor:R$6750,00

32 - Defina uma função que calcule o z-score de todos os valores de uma lista e encontre quem são os outliers (z-score abaixo de -3 e acima de 3). Use a lista abaixo:

lista8 = [201, 102, -5558, 232, 213, -9249, -247, 1183, 211, 7598, 130, 61, 192, 207, -46, 170, 116, 106, 225, 75, 138, 107, 108, -33, -9, 170, 147, 175, 137, -5, -9, 16600, 171, 183, 147, 171, 143, 104, 7, 227, 127, 173, 178, 194, 110, 20, 99, 11, 41, 242, 250, 62, 230, -32, 239, 241, 30, -35, 132, 214, 58, 90, -12, -24, 177, 116, 53, -26, 144, 29, 41, 217, 114, 109, -15, 32, 110, 162, 221, -16, 210, 87, 76, 3100, 73, 174, 194, 93, -9, 241, 234, 79, -4800, -22, -41, 224, 249, 114, -29, 79]

In [2]:
import numpy as np
lista8 = [201, 102, -5558, 232, 213, -9249, -247, 1183, 211, 7598, 130, 61, 192, 207, -46, 170, 116, 106, 225, 75, 138, 107, 108, -33, -9, 170, 147, 175, 137, -5, -9, 16600, 171, 183, 147, 171, 143, 104, 7, 227, 127, 173, 178, 194, 110, 20, 99, 11, 41, 242, 250, 62, 230, -32, 239, 241, 30, -35, 132, 214, 58, 90, -12, -24, 177, 116, 53, -26, 144, 29, 41, 217, 114, 109, -15, 32, 110, 162, 221, -16, 210, 87, 76, 3100, 73, 174, 194, 93, -9, 241, 234, 79, -4800, -22, -41, 224, 249, 114, -29, 79]
media_p = np.mean(lista8)
desvp = np.std(lista8)
#
def z(lista):
    lista_resp = []
    for num in lista8:
        lista_resp.append((num - media_p)/desvp)
    return(lista_resp)
#
print(z(lista8))
#
#from scipy import stats
#b = stats.zscore(lista8)
#b

[0.004859569782318368, -0.0402292220123882, -2.6180328741137937, 0.01897828236449921, 0.010324877878646437, -4.299070556076035, -0.19917859914726288, 0.45210394899849865, 0.009413993195925093, 3.3737665688272123, -0.02747683645428937, -0.05890235800817577, 0.0007605887100723172, 0.007592223830482403, -0.10763468853376772, -0.009259142799862475, -0.033853029233338786, -0.038407452646945506, 0.015790185974974506, -0.05252616522912635, -0.023833297723403993, -0.037952010305584837, -0.03749656796422416, -0.10171393809607897, -0.09078332190342284, -0.009259142799862475, -0.019734316651157942, -0.006981931093059114, -0.024288740064764665, -0.08896155253798015, -0.09078332190342284, 7.473658525755984, -0.008803700458501804, -0.0033383923621737345, -0.019734316651157942, -0.008803700458501804, -0.02155608601660063, -0.03931833732966685, -0.08349624444165207, 0.01670107065769585, -0.02884316347837139, -0.007892815775780458, -0.005615604068977096, 0.0016714733927936619, -0.03658568328150282, -0.07757549400396334, -0.04159554903647022, -0.08167447507620938, -0.06801120483538921, 0.02353270577810594, 0.027176244508991317, -0.05844691566681509, 0.01806739768177787, -0.10125849575471829, 0.02216637875402392, 0.023077263436745266, -0.0730210705903566, -0.10262482277880032, -0.026565951771568026, 0.01078032022000711, -0.06026868503225778, -0.04569453010871627, -0.09214964892750485, -0.09761495702383292, -0.006071046410337769, -0.033853029233338786, -0.06254589673906115, -0.09852584170655426, -0.021100643675239956, -0.07347651293171728, -0.06801120483538921, 0.012146647244089127, -0.03476391391606013, -0.03704112562286349, -0.09351597595158687, -0.07211018590763527, -0.03658568328150282, -0.012902681530747855, 0.013968416609531817, -0.09397141829294754, 0.00895855085456442, -0.047060857132798284, -0.05207072288776568, 1.3251869173869077, -0.053437049911847695, -0.0074373734344197855, 0.0016714733927936619, -0.04432820308463425, -0.09078332190342284, 0.023077263436745266, 0.019889167047220557, -0.050704395863683666, -2.272807579362404, -0.09670407234111157, -0.10535747682696435, 0.015334743633613833, 0.026720802167630644, -0.03476391391606013, -0.09989216873063628, -0.050704395863683666]

# 33 - Defina uma função que recebe uma lista aplica a fórmula abaixo a cada um dos valores e retorna uma lista com o resultado.

![minmax](../imgs/minmax.jpg)

In [29]:
def calcula(lista):
    res = []
    menor = min(lista)
    maior = max(lista)
    for num in lista:
        new = (num - (menor*num)) / ((maior*num)-(menor*num))
        res.append(new)
        new = 0
    return(res)
#
lista = [5,3,4,9,100]
calcula(lista)

[-0.020618556701030927,
 -0.020618556701030927,
 -0.020618556701030927,
 -0.020618556701030927,
 -0.020618556701030927]

34 - Escreva um código que dê print em todos os quadrados dos valores de 0 a 10.

In [3]:
print([x**2 for x in range(11)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

35 - Escreva um código que encontre a soma de todos os valores pares de 0 a 10.

In [70]:
acm = 0
for x in range(11):
    if x%2 == 0:
        acm += x
print(acm)

30

37 - Construa uma função que receba 3 valores (a,b,c) e retorne uma lista com todos os valores entre 'a' e 'b' que são múltiplos de 'c'. Utilize os valores abaixo (10,500,23)

In [71]:
def mult(a,b,c):
    resp =[]
    for valor in range(a,(b+1)):
        if valor%c == 0:
            resp.append(valor)
    return resp
print(mult(10,500,23))

[23, 46, 69, 92, 115, 138, 161, 184, 207, 230, 253, 276, 299, 322, 345, 368, 391, 414, 437, 460, 483]

38 -Escreva um código para ter o seguinte output:
    
    1 ---- 99
    2 ---- 98
    3 ---- 97
    4 ---- 96
    .
    .
    .
    99 ---- 1

In [9]:
for num in range(1,100):
    print('%i ---- %i' %(num,(100-num)))

1 ---- 99
2 ---- 98
3 ---- 97
4 ---- 96
5 ---- 95
6 ---- 94
7 ---- 93
8 ---- 92
9 ---- 91
10 ---- 90
11 ---- 89
12 ---- 88
13 ---- 87
14 ---- 86
15 ---- 85
16 ---- 84
17 ---- 83
18 ---- 82
19 ---- 81
20 ---- 80
21 ---- 79
22 ---- 78
23 ---- 77
24 ---- 76
25 ---- 75
26 ---- 74
27 ---- 73
28 ---- 72
29 ---- 71
30 ---- 70
31 ---- 69
32 ---- 68
33 ---- 67
34 ---- 66
35 ---- 65
36 ---- 64
37 ---- 63
38 ---- 62
39 ---- 61
40 ---- 60
41 ---- 59
42 ---- 58
43 ---- 57
44 ---- 56
45 ---- 55
46 ---- 54
47 ---- 53
48 ---- 52
49 ---- 51
50 ---- 50
51 ---- 49
52 ---- 48
53 ---- 47
54 ---- 46
55 ---- 45
56 ---- 44
57 ---- 43
58 ---- 42
59 ---- 41
60 ---- 40
61 ---- 39
62 ---- 38
63 ---- 37
64 ---- 36
65 ---- 35
66 ---- 34
67 ---- 33
68 ---- 32
69 ---- 31
70 ---- 30
71 ---- 29
72 ---- 28
73 ---- 27
74 ---- 26
75 ---- 25
76 ---- 24
77 ---- 23
78 ---- 22
79 ---- 21
80 ---- 20
81 ---- 19
82 ---- 18
83 ---- 17
84 ---- 16
85 ---- 15
86 ---- 14
87 ---- 13
88 ---- 12
89 ---- 11
90 ---- 10
91 ---- 9
92 ---- 8
93 ---- 7
94 ---- 6
95 ---- 5
96 ---- 4
97 ---- 3
98 ---- 2
99 ---- 1

39 - Construa uma função que receba um input e printe um padrão conforme exemplo.

input = 5

output:

+<br>
++<br>
+++<br>
++++<br>
+++++

In [2]:
ent = int(input('Digite um número\n'))
for i in range(1, (ent+1)):
    print('+' * i)

Digite um número
3
+
++
+++

40 - Itere sobre a lista abaixo e crie uma nova lista com todos os nomes em letras maisculuas e com underline ao invés de espaços. Dica: utilize compreensão de listas.

lista_nomes = ['Geralt de Rívia','Yennefer de Vengerberd','Triss Marigold','Emhyr var Emreis','Jaskier o bardo']

In [14]:
lista_nomes = ['Geralt de Rívia','Yennefer de Vengerberd','Triss Marigold','Emhyr var Emreis','Jaskier o bardo']
nomes = [(nome.replace(' ',"_").upper()) for nome in lista_nomes]
nomes

['GERALT_DE_RÍVIA',
 'YENNEFER_DE_VENGERBERD',
 'TRISS_MARIGOLD',
 'EMHYR_VAR_EMREIS',
 'JASKIER_O_BARDO']

41 - Voce é um jogador de tênis. Para decidir se você vai treinar hoje você deve avaliar duas coisas: o tempo e a temperatura. Crie um programa para saber se você deve ou não treinar hoje de acordo com as seguintes especificações:

Tempo: chuvoso -> não jogar
Tempo: ensolarado ou nublado -> jogar
Temperatura maior ou igual a 15 graus e tempo ensolarado ou nublado -> jogar
Temperatura menor que 15 graus e tempo ensolarado ou nublado -> não jogar
Se o dia estiver ensolarado e a temperatura for de 16 graus. Você irá ou não jogar?

In [17]:
def jogo(tempo, temperatura):
    jogar = ''
    if tempo == 'chuvoso':
        jogar = 'Não'
    else:
        if temperatura < 15:
            jogar = 'Não'
        else:
            jogar = 'Sim'
    return(jogar)
#
jogo('ensolarado', 16)

'Sim'

42 - Construa usando um programa que represente a seguinte árvore abaixo:

![arvore](../imgs/arvore.png)

In [30]:
def tree(x,y,z):
    if (x[0] == 'b'):
        if len(y) >= 15:
            print('Resultado1')
        else: 
            if z%2 == 0:
                print('Resultado2')
            else:
                print('Resultado1')
    else:
        if (x[1] == 'a'):
            print('Resultado1')
        else:
            print('Resultado2')

In [19]:
#Quando x = 'bacon', y = [1,2,3,4,5,6,7,8,9,10,'a','b','c','d','e','f','g','h'] e z = 15. Qual valor o programa deverá printar?
x = 'bacon'
y = [1,2,3,4,5,6,7,8,9,10,'a','b','c','d','e','f','g','h']
z = 15
tree(x,y,z)

Resultado1

In [20]:
#Quando x = 'bacon', y = [1,2,3,4], e z = 20. Qual valor o programa deverá printar?
x = 'bacon'
y = [1,2,3,4]
z = 20
tree(x,y,z)

Resultado2

In [21]:
#Quando x='couxeiro', y = [[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5]] e z = 21. Qual valor o programa deverá printar?
x='couxeiro'
y = [[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5]]
z = 21
tree(x,y,z)

Resultado2

43 - Use a função zip para juntar as duas listas abaixo em uma tupla.
nomes = ['nasser','joao','mateus'] salarios = [1000,1500,5000]

In [25]:
nomes = ['nasser','joao','mateus'] 
salarios = [1000,1500,5000]
tupla = zip(nomes, salarios)
list(tupla)

[('nasser', 1000), ('joao', 1500), ('mateus', 5000)]

44 - Considera as duas listas abaixo, a primeira demonstra o valor real de venda de uma casa e a segunda demonstra o valor recomendado por um modelo de regressão. Gere uma terceira lista com o resíduo de cada ponto. O resíduo é o resultado da subtração entre o valor real e o valor predito para determinado ponto.

real = [150358,368525,532152,144789] predito = [162122,365255,533200,185789]

In [2]:
real = [150358,368525,532152,144789] 
predito = [162122,365255,533200,185789]
residuo = []
for i, valor in enumerate(real):
    residuo.append(valor - predito[i])
residuo

[-11764, 3270, -1048, -41000]

45 - Utilize a função 'filter' do python para filtrar somente os valores positivos do resultado da questão 44.

In [16]:
def positivo(valor):
    if valor >= 0:
        return valor
res_pos = filter(positivo, residuo)
list(res_pos)

[3270]

46 - Ainda usando o resultado da questão 44 calcule, sem utilizar bibliotecas, o RMSE do valor predito. Referência: https://tinyurl.com/yd9ljcmj

'''Eleve cada residual ao quadrado e depois some todos.
Divida a soma dos residuais pelo número total de pontos de dados que você tem e tire a raiz quadrada do quociente. Isso lhe fornecerá a raiz quadrada dos erros quadráticos médios.'''

In [7]:
import numpy as np
rmse = np.sqrt((np.sum([res**2 for res in residuo])/len(residuo)))
rmse

21396.161454803056